<admin-menu></admin-menu>
<section layout="row" flex>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
        	<h1 class="md-toolbar-tools">Select Section</h1>
        </md-toolbar>
        <md-content class="md-padding">
            <form name="contactForm" data-ng-submit="sendMail()">
                <md-select ng-model="selectedSection" placeholder="Select Page Section">
		          	<md-option ng-repeat="section in sections" value="{{section.section}}">{{section.section}}</md-option>
		        </md-select>
                <md-button  class="md-raised md-primary" href="#dashboard/{{ selectedSection }}">Go</md-button>	
            </form>
        </md-content>
        <md-content>
        	
           <!--  <div class="content-text" flex> -->
    		<div layout="column">
    			<div flex>
				   	<md-toolbar class="md-theme-indigo">
	        			<h2 class="md-toolbar-tools">Photo Content</h2>
	        		</md-toolbar>
				     <md-radio-group ng-model="photoID" ng-change="getContentDetail('photo')">
				      	<md-radio-button ng-repeat="photo in contents.photo" value="{{photo.id}}" >{{photo.name}}</md-radio-button>
				    </md-radio-group>
				   
				</div>
				<div flex>
				    <md-toolbar class="md-theme-indigo">
	        			<h2 class="md-toolbar-tools">Text Content</h2>
	        		</md-toolbar>
				     <md-radio-group ng-model="contentID" ng-change="getContentDetail('text')">
				      	<md-radio-button ng-repeat="content in contents.text" value="{{content.id}}" >{{content.name}}</md-radio-button>
				    </md-radio-group>
				</div>
    		</div>
  	<!-- 	</div> -->
        </md-content>
    </md-sidenav>
	<md-content flex layout-fill  class="md-padding">
		<div layout="row" layout-fill > 
	  		
			<div  flex>
				<div ng-if="editContentType=='photo'"> 
					 <md-content md-theme="altTheme">
						<div class="preview-content" md-theme="altTheme" layout="row" layout-align="center center">
					 
					  <div >xxxxx</div>
					
					</div>
  					</md-content>
  					  <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" >
             {{ picFile }} 
             <md-button class="md-raised md-primary" ng-click="upload();"> Save Content </md-button>
				<!-- 	<div class="uploadButton" ngf-select ng-model="file" ngf-multiple="false">Select File</div> -->
				</div>
				<div ng-if="editContentType=='text'">
				 <md-content md-theme="altTheme">
						<div class="preview-content" md-theme="altTheme" layout="row" layout-align="center center">
					 
					  <div >{{  editContent.detail }}</div>
					
					</div>
  					</md-content>
					
				
					<textarea ui-tinymce="tinymceOptions" name="" id="" cols="30" rows="5" ng-model="editContent.detail">{{ editContent.detail }}</textarea>
					<md-button class="md-raised md-primary" ng-click="saveContent();"> Save Content </md-button>
				</div>
			</div>
		</div>
	</md-content>
</section>