<admin-menu></admin-menu>
<section layout="row" flex>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Select Section</h1>
      </md-toolbar>
      <md-content flex >
        <div layout="row" >
        	<div flex>
		        <md-select ng-model="selectedSection">
		          <md-option ng-repeat="section in sections" value="{{section.section}}">{{section.section}}</md-option>
		        </md-select>
	    	</div>
			<div flex>
	      		<md-button href="#dashboard/{{ selectedSection }}">Go</md-button>	
	        </div>
	    </div>
      </md-content>
    </md-sidenav>
	<md-content flex layout-fill>
		<div layout="row" layout-fill > 
	  		
			<div  flex>
				<div ng-if="editContentType=='photo'">
					<div class="uploadButton" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
				</div>
				<div ng-if="editContentType=='text'">
				
					<textarea name="" id="" cols="30" rows="5" ng-model="editContent.detail">{{ editContent.detail }}</textarea>
					<md-button class="md-raised md-primary" ng-click="saveContent();"> Save Content </md-button>
				</div>
			</div>
		</div>
	</md-content>
</section>