<admin-menu></admin-menu>
<section layout="row" flex>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        
        <md-content>
        	
           <!--  <div class="content-text" flex> -->
    		<div layout="column" layout-fill>
    			<div flex>
				   	<md-toolbar class="md-theme-indigo">
	        			<h2 class="md-toolbar-tools">Graph Content</h2>
	        		</md-toolbar>
				     <md-radio-group ng-model="graphID" ng-change="getContentDetail()">
				      	<md-radio-button ng-repeat="graph in graphs" value="{{graph.id}}" >{{graph.name+' '+graph.head}}</md-radio-button>
				    </md-radio-group>
				</div>

    		</div>
  	<!-- 	</div> -->
        </md-content>
    </md-sidenav>
	<md-content flex layout-fill  class="md-padding">
		<div layout="column" layout-fill > 
			<div  flex ng-show="editContent">
				 <form name="userForm">
				      <div layout layout-sm="column">
				        <md-input-container style="width:80%">
				            <label>Head</label>
				            <input ng-model="editContent.head" >
				          </md-input-container>
				        <md-input-container flex>
				           <label>Detail</label>
				            <input ng-model="editContent.detail" >
				        </md-input-container>
				        <md-input-container style="width:80%">
				            <label>Value</label>
				            <input ng-model="editContent.value" >
				          </md-input-container>
				        <md-input-container flex>
				           <label>Total</label>
				            <input ng-model="editContent.totalValue" >
				        </md-input-container>

				      </div>
				       <md-button  class="md-raised md-primary" ng-click="saveContent()">Update Graph</md-button>
				 </form>
			</div>
		</div>
	</md-content>
</section>